* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: black;
}
form {
    display: inline-block;
}

.container-content {
    background-color: white;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
    width:400px;
    text-align: center;
}
html {
    background-image: url('/images/Valorant\ Background.webp');
    background-size:cover;
}

.valorant-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valorant-logo img {
    height: 35px;
    width: 35px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}
.login-with {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    margin: 10px 5px 0px;
    gap: 5px;
}
form input {
    margin: 5px;
    height: 40px;
}
.checkbox {
    height: 15px;
    margin: 5px 0px 60px 0px;
    display: flex;
    justify-content:left;
    align-items: center;
    float: inline-start;
}
.gmail-logo {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
/* .login-with a .gmail-logo {
    width: 83px;
    border-radius: 5px;
    background-color: white;
} */
.apple-logo {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.login-with a {
    justify-content: space-between;
}
.login-logo {
    height: 75px;
    width: 75px;
    border: none;
    background-color: rgb(235, 10, 10);
    border-radius: 25px;
    color: white;
    font-size: 40px;
}
footer {
    padding: 35px;
}
footer p,a{
    font-size: 16px;
    color: gray;
}


